<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>chapter03.MyFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/First</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>user_name</param-name>
        <param-value>홍길동</param-value>
    </context-param>

    <context-param>
        <param-name>user_company</param-name>
        <param-value>한국주식회사</param-value>
    </context-param>

    <servlet>
        <servlet-name>myServlet2</servlet-name>
        <servlet-class>chapter03.ServletConfigInfo2</servlet-class>
        <init-param>
            <param-name>user_name2</param-name>
            <param-value>이순신</param-value>
        </init-param>
        <init-param>
            <param-name>user_company2</param-name>
            <param-value>코리아시스템</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServlet2</servlet-name>
        <url-pattern>/scf3</url-pattern>
    </servlet-mapping>
</web-app>